@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav-item {
  display: flex;
  margin: auto;
  align-items: center;
  text-decoration: none;
  padding: 5px;
  color: black;
}

.nav-item:hover {
  color: #ed233d !important;
  font-weight: 600;
}

.card {
  width: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.form-label {
  font-weight: bold;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
